<?xml version="1.0"?>
<model>
  <name>BST Quad</name>
  <version>1.0</version>
  <sdf version='1.4'>e2.sdf</sdf>

  <author>
   <name>Maciej Stachura</name>
   <email>stachura@blackswifttech.com</email>
  </author>

  <description>
    This is the BST/Alerion quad developed for inspection.
  </description>
</model>
