*.o
*.a
*.so
*.pyc
test/test
test/replay_log_file
mhp/c/test
gazebo_test/test
examples/can_test/test
examples/mhp/test
examples/gazebo/test
examples/gazebo/fp_test
examples/payload/test
examples/mhp/test
examples/log_to_nc/data
.idea/
venv/

# Python library
*.egg-info/
build/
dist/

# Test files
*.pkt
*.bin
*.nc

# SWIG output
bst_python_sdk/*.cxx
bst_python_sdk/swig_parser.py
